header {
    display: grid;
    grid-template-areas: 
        "menu-button title left-buttons";
    grid-auto-columns: 1fr;
    height: var(--header-height);
    background-color: var(--header-color);
}

.menu-button-container {
    grid-area: menu-button;
}

.menu-button {
    cursor : pointer;   
    display: flex;
    flex-direction: column;
    margin: calc(var(--header-height) / 8);
    width: fit-content;
}

.menu-button > div {
    background-color: var(--aside-color);
    height: calc(var(--header-height) / 8);
    margin: calc(var(--header-height) / 16) 0px;
    width: 60px;
    border-radius: 2.2px;
}

.user-info {
    grid-area: left-buttons;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title-container {
    grid-area: title;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    display: flex;
}

.title {
    color: var(--header-font-color); 
    font-size: 6vh;
}

.user-name {
    color: var(--header-font-color);
    font-size: 3.5vh;
    margin-right: 22px;
}

.nav-button {
    background-color: var(--header-nav-button-color);
    margin-right: 15px;
    padding: 10px 30px;
    font-size: 3.9vh;
    color: var(--button-font-color);
    text-decoration: none;
    border-radius: 5px;
    border-color: var(--header-nav-button-color);
}

.nav-button:hover {
    transform: scale(1.05);
}

/*
 *************************************
 *            center
 *************************************  
 */

/*
 * aside
 */
aside {
    background-color: var(--aside-color);
    width: var(--aside-width);
    display: flex;
    flex-direction: column;


}

.nav-link {
    cursor: pointer;
    color: var(--aside-font-color);
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 0px 0px 5px;
    width: fit-content;
}

.nav-link:hover {
    text-decoration: underline;
}

/*
 * center right page
 */
.center-right-container {
    height: calc(100vh - var(--header-height));
    width: 100%;
}

.center-container {
    height: calc(100vh - var(--header-height));
    display: flex;
    width: 100%;
}

.page-content {
    height: calc(100vh - var(--header-height) - var(--footer-height)); 
}

/*
 * At the bottom of the page
 */

footer { 
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    height: 3vh;
    width: 100%;
}

.copyright-content {
    padding-right: 5px ;
    padding-bottom: 2px;
}